<div class="container-fluid">
  <div class="row padding-top">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <mat-card class="reduce-padding">
            <strong>Filtros</strong>
          </mat-card>
          <mat-card class="reduce-padding">
            <strong class="color-blue">
              <img src="../../assets/images/search.svg" alt="lupa" height="20">
              Nombre del hotel
            </strong>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Ingrese el nombre del hotel" value="">
            </mat-form-field>
            <button mat-raised-button color="primary" class="margin-left">Aceptar</button>
          </mat-card>
          <mat-card class="reduce-padding">
            <strong class="color-blue margin-stars">
              <img src="../../assets/images/star.svg" alt="lupa" height="20">
              Estrellas
            </strong>
            <mat-card-content>
              <br>
              <mat-checkbox class="margin-stars">Todas las estrellas</mat-checkbox>
              <br>
              <mat-checkbox class="margin-stars">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
              </mat-checkbox><br>
              <mat-checkbox class="margin-stars">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
              </mat-checkbox><br>
              <mat-checkbox class="margin-stars">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
              </mat-checkbox><br>
              <mat-checkbox class="margin-stars">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
              </mat-checkbox><br>
              <mat-checkbox class="margin-stars">
                <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
              </mat-checkbox><br>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-9">
          <div class="row">
            <ng-container *ngFor="let hotel of hotels">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6">
                    <img src="../../assets/images/2a5bb415_b.jpg" alt="Imagen del hotel" class="img-responsive" height="200">
                  </div>
                  <div class="col-md-6">
                    <h4 class="color-blue">{{hotel.name}}, {{hotel.stars}}</h4>
                    <ng-container [ngSwitch]="hotel.stars">
                        <ng-container *ngSwitchCase="1">
                          <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                        </ng-container>
                      <ng-container *ngSwitchCase="2">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                      </ng-container>
                      <ng-container *ngSwitchCase="3">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                      </ng-container>
                      <ng-container *ngSwitchCase="4">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                      </ng-container>
                      <ng-container *ngSwitchCase="5">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                        <img src="../../assets/images/estrellaBrillante.png" alt="lupa" height="20">
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <p>Precio por noche por habitación</p>
                <span class="text-price">ARS</span>
                <span class="price">
                  {{hotel.price}}
                </span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
